<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Conn_AccD" connectionString="Data Source=account.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=DAccount;User ID=admin_account;Password='$JKj%%Q.2x3{3-y6';" providerName="System.Data.SqlClient; Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_AccDgroup" connectionString="Data Source=group1account.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=DAccount;User ID=adminAccount;Password='2dD51jXU95x7';" providerName="System.Data.SqlClient; Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_LogD" connectionString="Data Source=logdata.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=DimLog;User ID=admin_log_data;Password='#n3Jj+M,y$k?5&gt;#J';" providerName="System.Data.SqlClient; Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Casino" connectionString="Data Source=casino.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=sricasino;User ID=admin_casino;Password='t6x}&gt;UV7y:NGGpHZ';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Casinogroup" connectionString="Data Source=casino.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=sricasinogroup1;User ID=admin_casino;Password='t6x}&gt;UV7y:NGGpHZ';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Odds" connectionString="Data Source=odds.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=SriOddsdata;User ID=admin_odds;Password='dN8-dNCnQKj_9.Qz';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Bet" connectionString="Data Source=sport.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=srisportbet;User ID=admin_sport;Password='xbs8&amp;9Yt%H\~BMDR';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Betgroup" connectionString="Data Source=group1sport.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=srisportbet;User ID=adminSports;Password='25Q579Uim1Di';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Fancy" connectionString="Data Source=fancycalc.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=SriFancycalc;User ID=admin_fancycalc;Password='J}]Qs!%UPZ49T;e}';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Fancygroup" connectionString="Data Source=fancycalc.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=SriFancycalcgroup1;User ID=admin_fancycalc;Password='J}]Qs!%UPZ49T;e}';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_worlic" connectionString="Data Source=fancycalc.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=worlicasino;User ID=admin_fancycalc;Password='J}]Qs!%UPZ49T;e}';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_CasinoMaster" connectionString="Data Source=party3casino.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=casinomaster;User ID=admin_3partycasi;Password='R^z?PrP6w\G&amp;&lt;,$%';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_CasinoM" connectionString="Data Source=party3casino.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=casinomaster;User ID=admin_3partycasi;Password='R^z?PrP6w\G&amp;&lt;,$%';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_CasinoMgroup" connectionString="Data Source=party3casino.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=casinomastergroup1;User ID=admin_3partycasi;Password='R^z?PrP6w\G&amp;&lt;,$%';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Daba" connectionString="Data Source=sport.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=Daba;User ID=admin_sport;Password='xbs8&amp;9Yt%H\~BMDR';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Dream" connectionString="Data Source=sport.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=dreamworld;User ID=admin_sport;Password='xbs8&amp;9Yt%H\~BMDR';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_CasinoTP" connectionString="Data Source=party3casino.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=casinomaster;User ID=admin_3partycasi;Password='R^z?PrP6w\G&amp;&lt;,$%';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_LogA" connectionString="Data Source=logdata.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=authuser;User ID=admin_log_data;Password='#n3Jj+M,y$k?5&gt;#J';Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Redis" connectionString="Data Source=redisdb.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=oddsdata;User ID=admin_redis;Password='K&lt;DimCk.BK';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_CasinoFancy" connectionString="Data Source=casino.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=SriFancyCalc;User ID=admin_casino;Password='t6x}&gt;UV7y:NGGpHZ';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_CasinoFancygroup" connectionString="Data Source=casino.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=SriFancyCalcgroup1;User ID=admin_casino;Password='t6x}&gt;UV7y:NGGpHZ';" providerName="System.Data.SqlClient;Min pool Size =5; Max Pool Size=100000;" />
		<add name="Conn_Loggameodds" connectionString="Data Source=logdata.cfinozcqxqlq.eu-west-1.rds.amazonaws.com;Initial Catalog=gameodds;User ID=admin_log_data;Password='#n3Jj+M,y$k?5&gt;#J';Min pool Size =5; Max Pool Size=100000;" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="LogFlag" value="true" />
		<add key="Logurl" value="http://52.214.86.100:5556/" />
		<add key="Logurlwa" value="http://52.214.86.100:5558/" />
		<!--<add key="ErrorLog" value="true" />-->
		<add key="AllLog" value="false" />
		<add key="JwtIssuer" value="dimserviceapi.com" />
		<!--<add key="AudienceId" value="414e1927a3884f68abc79f7283837fd1" />-->
		<add key="AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
		<add key="DefaultJwtExpireInMin" value="1440" />
		<!--For Dev enviroment only (on production should be AllowInsecureHttp = False)-->
		<add key="JwtAllowInsecureHttp" value="True" />
		<add key="PaymentSecret" value="b14vnrihtnaerfnapeijg4wpgjmw4916" />
		<add key="RedisServer" value="newdim.qkevij.0001.euw2.cache.amazonaws.com" />
		<add key="RedisDataBase" value="7" />
		<add key="FrontSecret" value="b13ca5898a4e4123hbce2ea2316v1916" />
		<!--<add key="ExWords" value="insert,update,delete,drop,execute,exec,create,select" />-->
		<!--<add key="SqlIP" value="true" />
		<add key="Domain" value="false" />
		<add key="IP_API" value="true" />
		<add key="Vpn" value="true" />
		<add key="Hosting" value="true" />
		<add key="IPUrl" value="https://pro.ip-api.com/json/[IP]?fields=proxy,hosting&amp;key=ApK4WSSGmQxDuJ0" />
		<add key="RedisUrl" value="http://3.8.191.98:1009/" />-->
		<add key="re" value="0" />
		<add key="RedisTrader" value="front-common.2bnome.0001.euw1.cache.amazonaws.com" />
		<add key="RedisCommon" value="15" />
		<add key="Redisudb" value="6" />
		<add key="RedisAuthdb" value="14" />
		<add key="Rediscdb" value="1" />
		<add key="Redismain" value="1" />
		<add key="RedisUrlC" value="http://3.249.22.134:8005/" />
		<add key="RedisUrlV" value="http://3.249.22.134:8041/" />
		<add key="Urlpop" value="http://3.249.22.134:8032/api/DimFrontGroup/" />
		<add key="Urlsc" value="http://35.176.180.40:1211/api/v1/" />
		<add key="TVUrl" value="https://play.livestream11.com/user/" />
		<add key="CCode" value="d" />
		<add key="CopUrl" value="https://api.bonus-system.dev.shub.casino/" />
		<add key="Encrypt" value="true" />
		<add key="Popcid" value="f13bf0d8-dbad-4c83-b1bd-62f24d22cf89" />
		<add key="Secret" value="8yN{F^kFy~!fk9T^" />
		<add key="Ludocid" value="796BA4E8-FD1C-4488-B023-6A66332448D2" />
		<add key="LudoSecret" value="b3%?d(xXnakA}9Xh" />
		<add key="TeleUrl" value="https://telemediatorgroup.secureauthapi.com/api/tele/mediator" />
		<add key="Popball" value="https://ball.shub.casino?session=" />
		<add key="Ludo" value="https://ludo.shub.casino?session=" />
		<add key="CFUrlApi" value="https://cfcallbackuat.gameproviderservice.com/getcfurl" />
		<add key="QTUrlApi" value="https://qtcallbackuat.gameproviderservice.com/api/v1/getqturl" />
		<add key="SSUrlApi" value="https://sscallbackuat.gameproviderservice.com/api/v1/getssurl" />
		<add key="RNUrlApi" value="https://rncallbackuat.gameproviderservice.com/getrnurl" />
		<add key="TGSUrlApi" value="https://tgscallbackuat.gameproviderservice.com/gettgsurl" />
		<!--52.212.32.74:8950-->
		<!--https://tgscallbackuat.gameproviderservice.com/gettgsurl-->
		<add key="RedisLocal" value="session-services.2bnome.0001.euw1.cache.amazonaws.com" />
		<add key="RedisLocaldb" value="2" />
		<add key="RedisCasino" value="" />
		<add key="secretKey" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
		<add key="issuer" value="dimserviceapi.com" />
		<add key="expiryMinutes" value="1440" />
		<add key="AudienceId" value="414e1927a3884f68abc79f7283837fd1" />
		<add key="ExWords" value="insert,update,delete,drop,execute,exec,create,select" />
		<add key="ErrorLog" value="true" />
		<add key="SqlIP" value="true" />
		<add key="Domain" value="false" />
		<add key="IP_API" value="true" />
		<add key="Vpn" value="false" />
		<add key="Hosting" value="false" />
		<add key="IPUrl" value="https://pro.ip-api.com/json/[IP]?fields=21233663&amp;key=ApK4WSSGmQxDuJ0" />
		<add key="RedisUrl" value="http://3.249.67.157:8008/" />
		<add key="RedisStaC" value="0" />
		<add key="RedisServerSta1" value="cric-services.2bnome.0001.euw1.cache.amazonaws.com|0,football-services.2bnome.0001.euw1.cache.amazonaws.com|0,tennis-services.2bnome.0001.euw1.cache.amazonaws.com|0,other-games-services.2bnome.0001.euw1.cache.amazonaws.com|0" />
		<add key="RedisServerCric" value="cric-services.2bnome.0001.euw1.cache.amazonaws.com|0,cric-services.2bnome.0001.euw1.cache.amazonaws.com|0" />
		<add key="RedisServerFoot" value="football-services.2bnome.0001.euw1.cache.amazonaws.com|0,football-services.2bnome.0001.euw1.cache.amazonaws.com|0,football-services.2bnome.0001.euw1.cache.amazonaws.com|0,football-services.2bnome.0001.euw1.cache.amazonaws.com|0" />
		<add key="RedisServerTenni" value="tennis-services.2bnome.0001.euw1.cache.amazonaws.com|0,tennis-services.2bnome.0001.euw1.cache.amazonaws.com|0,tennis-services.2bnome.0001.euw1.cache.amazonaws.com|0,tennis-services.2bnome.0001.euw1.cache.amazonaws.com|0,tennis-services.2bnome.0001.euw1.cache.amazonaws.com|0,tennis-services.2bnome.0001.euw1.cache.amazonaws.com|0" />
		<add key="RedisServerOther" value="other-games-services.2bnome.0001.euw1.cache.amazonaws.com|0,other-games-services.2bnome.0001.euw1.cache.amazonaws.com|0,other-games-services.2bnome.0001.euw1.cache.amazonaws.com|0,other-games-services.2bnome.0001.euw1.cache.amazonaws.com|0,other-games-services.2bnome.0001.euw1.cache.amazonaws.com|0,other-games-services.2bnome.0001.euw1.cache.amazonaws.com|0" />
		<add key="CommonTPUrl" value="http://localhost:1050/tpurl" />
		<!--http://52.208.155.202:8001/tpurl-->
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="OPTIONSVerbHandler" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>